/** Login Configuration for the JAAS Sample Application **/

NTLogin {
    com.sun.security.auth.module.NTLoginModule Required
        debug=true debugNative=true;
};

Rdbms {
    my.module.RdbmsLoginModule required
        driver="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://192.168.99.100:3306/mybatis"
        user="root"
        pass="admin";
};